.widget-title {
  color: black;
}

.jr-insta-thumb {
  height: 800px;
  width: 900px;
  margin: auto;
}

.site-footer {
  display: flex;
  width: 900px;
  margin: auto;
  color: black;

  .copy {
    margin-left: 25px;
  }
}
